* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond;
    overflow-x: hidden;
    /*
    border: 1px solid red;
    */
    
}
body,html{
    height: 100%;
}
body {
    background-color: #fff3dd;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    color: #fff3dd;
    background-color: #4f5ec4;
   
    height: 6%;
    width: 100vw;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav ul li{
    padding: 15px;
    
    
}
nav ul li button {
    background-color:#fff3dd;
    color:#4f5ec4;
    padding: 5px;
    font-weight: bold;
    font-size: 1.05em;
    border: 2px solid black;
}

/* form */

form {
    margin: 10vw 0 10vw 20vw;
}

form h1 {
    margin-bottom: 2vw;
    font-weight: bold;
}

.login {
    display: block;
    align-self: center;
    max-width: 30vw;
}

input {
    margin-right: 100vw;
    margin-bottom: 2vw;
}



footer {
    background-color: #4f5ec4;
    padding: 20px;
    text-align: center;
}

.footer-container h3 {
    font-family: 'Garamond', serif;
    font-size: 1.2em;
    color: #fff3dd;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-container ul {
    list-style-type: none;
    padding: 0;
}

.footer-container ul li {
    margin: 10px 0;
}

.footer-container ul li a {
    text-decoration: none;
    color: #fff3dd;
    font-family: 'Garamond', serif;
    font-size: 1.2em;
    font-weight: bold;
}

.footer-container ul li a:hover {
    text-decoration: underline;
}
