<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.28/fullpage.min.css" integrity="sha512-ppgsUNQrLKZFuWk0FHZCvPZP840nMX6VbbdcXjKub1ARvKsIM+TjGL3QTVSc5J45MCFex+xRbEwKaNKwJKaZ8g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="proto.css">
<body id="bodycheck">
    <nav>
        <!--center a bunch of text then have an image in the middle of them and the text navigates you to the different pages and shit-->
    
        <div class ='logo'>logo</div>
        <ul>
            <li><a>Expenses</a></li>
            <li><a>Budgeting</a></li>
            <li><a href = "#" class="current">Insurance</a></li>
            <li><a>Useful Links</a></li>
            <li><a href="insure.html">Game</a></li>
            <li><button>Log out</button></li>
        </ul>
    </nav>
    <div id="fullPage">
        <div class="section s1" id="section1">
            <div class="slide">
                <div class="container left">
                    <h1>What is Insurance?</h1>    
                    <p>Insurance is a means of protection from financial loss in which, in exchange for a fee, a party agrees to compensate another party in the event of a certain loss, damage, or injury. It is a form of risk management, primarily used to protect against the risk of a contingent or uncertain loss.</p>
                </div>
                <div class="image right">
                    <img src="../../images/white-down-arrow-png-2.png" alt="">
                </div>
            </div>
            <div class="slide">
                <div class="container left">
                    <h1>Why should I get Insured?</h1>    
                    <p>Because anything can happen, and it is important to do what you can to reduce the impact of unexpected incidences should they happen. Insurance premiums will only get more expensive as we age, so it is best to get your coverage earlier, rather than later. It is also important to buy insurance while you are healthy, so that you can get coverage without exclusion. .</p>
                </div>
                <a href="https://www.aia.com.sg/en/health-wellness/healthy-living-with-aia/why-get-insurance-coverage-as-soon-as-you-can" target="_blank">
                    <div class="container circle center">
                        <p>Learn More</p>
                    </div>
                </a>
                <div class="indicator hcenter bottom">
                    <p>Types of Insurance</p>
                    <img src="../../images/downarrow.png" alt="">
                </div>
            </div>
        </div>
        <div class="section s2">
            <div class="slide">
                <div class="container left">
                    <h1>Types of Insurance</h1>
                    <p>There are many,&nbsp; many types of Insurance. In this section, we will only be talking about the most common types of Insurance.</p>
                </div>
                <div class="arrowside right">
                    <p>Health</p>
                </div>
                <div class="image right">
                    <img src="../../images/white-down-arrow-png-2.png" alt="">
                </div>
                <div class="slide">
                    <div class="container left">
                        <h1>Health Insurance</h1>
                        <p>Health insurance helps you pay for your medical expenses when you fall ill, get injured or become disabled.
                            All Singaporeans are covered under <a href="https://www.moh.gov.sg/healthcare-schemes-subsidies/medishield-life">MediShield Life</a>, a basic government health plan to cover large medical expenses. Besides having to deal with large medical or hospital bills, you may not be fit for work during your recovery.
                        </p>
                    </div>
                    <div class="arrowside right" id="accident">
                        <p>Accident</p>
                    </div>
                    <div class="image right">
                        <img src="../../images/white-down-arrow-png-2.png" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="container left">
                        <h1>Personal Accident Insurance</h1>
                        <p>A personal accident plan is a type of general insurance that provides policyholders with financial support in the event of an unfortunate accident. As its name suggests, a personal accident plan is primarily meant for protection against accident-related complications, providing compensation for injuries, disabilities or death.
                        </p>
                    </div>
                    <div class="arrowside right" id="life">
                        <p>Life</p>
                    </div>
                    <div class="image right">
                        <img src="../../images/white-down-arrow-png-2.png" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="container left">
                        <h1>Life Insurance</h1>
                        <p>Life insurance provides financial back-up during emergencies when we pass on or become totally and permanently disabled.

                            Some life insurance products bundle insurance with an investment component and can be used to provide for your retirement income or to accumulate savings to leave behind for your loved ones. These will cost more.</p>
                    </div>
                    <div class="arrowside right" id="travel">
                        <p>Travel</p>
                    </div>
                    <div class="image right">
                        <img src="../../images/white-down-arrow-png-2.png" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="container left">
                        <h1>Travel Insurance</h1>
                        <p>Travel insurance is coverage designed to protect against risks and financial losses that could happen while traveling. The risks range from minor inconveniences such as missed airline connections and delayed luggage all the way to more serious issues including injuries or major illness. Must-buy for frequent travellers
                        </p>
                    </div>
                    <div class="indicator hcenter bottom">
                        <p>Apply For Insurance</p>
                        <img src="../../images/downarrow.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="section s3">
                <div class="slide">
                    <div class="container left">
                        <h1>How Do I Apply?</h1>
                        <p>Firstly, you'll need to check the types of insurance you can apply for. For most insurance policies, the minimum age of the applicant must be 18 years and above, but for some, such as the <a href="https://www.aia.com.sg/content/dam/sg-wise/en/docs/promotions/aia-kids-360-protect/faq.pdf">AIA Around the World Travel Insurance</a>, can be applied for at 16</p>
                    </div>
                    <div class="arrowside right">
                        <p>Age</p>
                    </div>
                    <div class="image right">
                        <img src="../../images/white-down-arrow-png-2.png" alt="">
                </div>
                <div class="slide">
                    <div class="container left">
                        <h1>Check Insurance Policies</h1>
                        <p>Different Insurance companies may have different policies on what can be claimable. So, be sure to check that the policy covers what you want to cover before signing up.</p>
                    </div>
                    <div class="arrowside right">
                        <p>Age</p>
                    </div>
                    <div class="image right">
                        <img src="../../images/white-down-arrow-png-2.png" alt="">
                    </div>
                </div>
                <div class="slide">
                    <div class="container left">
                        <h1>Apply for Insurance</h1>
                        <p>After that, you can begin applying for insurance! Most companies nowadays allow you to do so online, making it easy and convienient to apply for Insurance. If you'd prefer, you can also visit their physically locations to apply for Insurance.</p>
                    </div>
                    <div class="arrowside right">
                        <p>Age</p>
                    </div>
                    <div class="indicator hcenter bottom">
                        <p>Claim Insurance</p>
                        <img src="../../images/downarrow.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="section s4">
            <div class="slide">
                <div class="container left title">
                    <h1>How to Claim Insurance</h1>    
                </div>
                <div class="image right">
                    <img src="../../images/white-down-arrow-png-2.png" alt="">
                </div>
            </div>
            <div class="slide">
                <div class="container left">
                    <h1>Contact your Insurer</h1>
                    <p>Contact your insurer as soon as possible when an incident happens. Even if you suspect that the incident may not be covered under the policy, it is still better to contact your insurer just in case. Who knows? Maybe you will be able to get compensated for it!</p>
                </div>
                <div class="arrowside right">
                    <p>Age</p>
                </div>
                <div class="image right">
                    <img src="../../images/white-down-arrow-png-2.png" alt="">
                </div>
            </div>
            <div class="slide">
                <div class="container left">
                    <h1>Fill out Claims Form</h1>
                    <p>After contacting your insurer, they should give you a claims form to fill out to go into more detail about the incident. Different companies may have different processes, but this is the most standard.</p>
                </div>
                <div class="arrowside right">
                    <p>Age</p>
                </div>
                <div class="image right">
                    <img src="../../images/white-down-arrow-png-2.png" alt="">
                </div>
            </div>
            <div class="slide">
                <div class="container left">
                    <h1>Receive Insurance Payout!</h1>
                    <p>After contacting your insurer, they should give you a claims form to fill out to go into more detail about the incident. Different companies may have different processes, but this is the most standard.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.28/fullpage.min.js" integrity="sha512-X0OyMwqsleyiPQgdq3FZzQihWPJ3bf5VrMk9Z8Fi34TUbdzHHOfwu9QoC0Y/yUiMxwpFD6eMHUJcMK8FwvgTtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        new fullpage('#fullPage', {
            anchors: ['page1', 'page2', 'page3'],
            autoScrolling: true,
            navigation: true,
        })

        window.onscroll = function() {checkScroll()};

        function checkScroll() {
            console.log("Hello");
            console.log(document.getElementsByClassName('active'));
        }
    </script>
</body>
</html>