<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.28/fullpage.min.css" integrity="sha512-ppgsUNQrLKZFuWk0FHZCvPZP840nMX6VbbdcXjKub1ARvKsIM+TjGL3QTVSc5J45MCFex+xRbEwKaNKwJKaZ8g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="proto.css">
<body>
    <nav>
        <!--center a bunch of text then have an image in the middle of them and the text navigates you to the different pages and shit-->
    
        <div class ='logo'>logo</div>
        <ul>
            <li><a>Expenses</a></li>
            <li><a>Budgeting</a></li>
            <li><a href = "#" class="current">Insurance</a></li>
            <li><a>Useful Links</a></li>
            <li><a href="insure.html">Game</a></li>
            <li><button>Log out</button></li>
        </ul>
    </nav>
    <div id="fullPage">
        <div class="section s1">
            <div id="s1background"></div>
            <div class="container left">
                <h1>Insurance</h1>    
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nisi harum fugit! Tempore expedita illo suscipit minus similique aliquam officia, dolore ullam. Earum rem soluta dicta eum consequuntur magnam modi.</p>
            </div>
            <div class="container right">
                <p>hello</p>
            </div>
    
        </div>
        <div class="section s2">
            <div class="container left">
                <h1>Insurance</h1>    
            </div>
            <div class="container right"></div>
        </div>
        <div class="section s3">
            <h1>Insurance</h1>    
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.28/fullpage.min.js" integrity="sha512-X0OyMwqsleyiPQgdq3FZzQihWPJ3bf5VrMk9Z8Fi34TUbdzHHOfwu9QoC0Y/yUiMxwpFD6eMHUJcMK8FwvgTtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        new fullpage('#fullPage', {
            autoScrolling: true,
            navigation: true
        })
    </script>
</body>
</html>