* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Garamond;
  overflow-x: hidden;
  /*
  border: 1px solid red;
  */
}

body, html {
  height: 100%;
}

body {
  background-color: #fff3dd;
}

.current{
  color: orange;
}

nav a{
  text-decoration: none;
  color: white;
}

.logo{
  height: 5vh;
  width: 8vh;
  object-fit: cover;
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  color: #fff3dd;
  background-color: #4f5ec4;
  height: 6%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  overflow: hidden;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 15px;
}

nav ul li button {
  background-color: #fff3dd;
  color: #4f5ec4;
  padding: 5px;
  font-weight: bold;
  font-size: 1.05em;
  border: 2px solid black;
}

/*Insurance Pages*/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: rgb(47, 47, 47);
}

.fp-controlArrow.fp-prev {
  left: 0;
  border: none;
  margin-top: -60vmin;
  height: 100vmin;
  width: 50vmin;
  cursor: pointer;
}

.fp-controlArrow.fp-next {
  right: 0;
  border: none;
  margin-top: -60vmin;
  width: 50vmin;
  height: 100vmin;
  cursor: pointer;
}

h1 {
  text-align: left;
  size: 40vmin;
  font-size: 5vmin;
}

p {
  font-size: 2.5vmin;
}

span {
  background: white;
  position: absolute;
  top: 10%;
}

#fullPage {
  box-sizing: unset;
  overflow-x: unset;
}

.hcenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 15vmin;
  right: 22%;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.section h1 {
  margin-bottom: 2vmin;
}

.container {
  font-family: "Montserrat";
  font-weight: 300;
  background-color: rgba(63, 62, 62, 0.6);
  border-radius: 10px;
  display: inline-block;
  margin-left: 10%;
  max-width: 30%;
  text-align: left;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding-left: 2vmin;
  padding-right: 2vmin;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
}
.container a {
  color: #c97225;
}

.image {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 25%;
}
.image img {
  height: 10vmin;
}

.circle {
  border-radius: 50%;
  width: 10vmin;
  height: 10vmin;
  color: white;
  background-color: orange;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 3vmin;
}
.circle p {
  text-align: center;
  font-weight: bold;
  font-size: 2.3vmin;
}

.indicator {
  text-align: center;
}
.indicator img {
  width: 8vmin;
}

.arrowside {
  background-color: rgba(145, 145, 145, 0.4);
  border-radius: 2px;
  position: absolute;
  margin-left: 24%;
  top: 48%;
  display: inline-block;
  text-align: center;
  font-weight: 900;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.s1 {
  background: url("../../images/importance-of-insurance.webp");
  background-size: cover;
  color: white;
  position: relative;
}

.s2 {
  background: url(../../images/family-finances-guide.jpg);
  background-size: cover;
  color: white;
  position: relative;
}
.s2 .image {
  margin-left: 10%;
}
.s2 .arrowside {
  margin-left: 9%;
}
.s2 #accident {
  margin-left: 8.8%;
}
.s2 #life {
  margin-left: 9.5%;
}
.s2 #travel {
  margin-left: 9.2%;
}
.s2 .hcenter {
  right: 8.8%;
}

.s3 {
  background: url("../../images/applying.jpg");
  background-size: cover;
  color: white;
  position: relative;
}
.s3 .container {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.s3 .image {
  margin-left: 16.5%;
}
.s3 .hcenter {
  right: 14.5%;
}

.s4 {
  background: url(../../images/cash_rainign.png);
  background-size: cover;
  color: white;
}
.s4 .title h1 {
  margin-bottom: 0px;
}
.s4 .image {
  margin-left: 12.4%;
}/*# sourceMappingURL=main.css.map */
