
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond;
    overflow-x: hidden;
    
    
    
    
}
body,html{
    height: 100%;
}
body {
    background-color: #fff3dd;
}

.current{
    color: orange;
}
  
  nav a{
    text-decoration: none;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    color: #fff3dd;
    background-color: #4f5ec4;
   
    height: 6%;
    width: 100vw;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav ul li{
    padding: 15px;
    transition: background-color 0.5s;
    
    
}
.logo{
    height: 5vh;
    width: 8vh;
    object-fit: cover;
    overflow: hidden;
}
nav ul li a{
    text-decoration: none;
    color: #fff3dd;
}
nav ul li:hover{
    background-color: #7d8ced;
}
nav ul li button {
    background-color:#fff3dd;
    color:#4f5ec4;
    padding: 5px;
    font-weight: bold;
    font-size: 1.05em;
    border: 2px solid black;
}
.quiz {
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)), url('../images/just_wanna_be_part_of_your_symphony.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
.minecraft{
    position: fixed;
    top: 30%;
    left: 0;
    padding: 10px;
    width: 20vw;
    height: 50vh;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    
}
.subway{
    position: fixed;
    top: 30%;
    right: 5%;
    padding: 10px;
    width: 12vw;
    height: 50vh;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
}
.quizbox{
    background-color: #fff3dd;
    width: 60vw;
    height: 60vh;
    opacity: 0.85;
    overflow-y: scroll;
    overflow-x: hidden;
   

}
.welcome{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.welcome img{
    height: 6vh;
    width: 8vw;
    object-fit: contain;
    padding: 10px;
}
.actual-quiz {
    height: 60vh;
    
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    
}
.actual-quiz h2{
    font-size: 2em;
    color: #001e4d;
    font-weight: 600;
    padding: 20px;
}
#answerbuttons button{
    font-size: 1.5em;
}
.btn{
    
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 80%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;


}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display:none;
}
.correct{
    background: #9aeabc;

}
.incorrect{
    background: #ff9393;
}