

<!DOCTYPE html>
<html>
    <head>
        <meta charset ='utf 8'>
        <title>moneymaxxing game</title>
        <link rel='stylesheet' href ='../static/gamestyle.css'>
    </head>
    <body>
        <nav>
            
        
            <a href ='index.html'><div class ='logo'><img src='../images/subway_surfers_short-ezgif.com-crop.gif'></div></a>
            <ul>
                <li><a href="../expenses.html">Expenses</a></li>
                <li><a href="../budget.html">Budgeting</a></li>
                <li><a href='insurance/insure.html'>Insurance</a></li>
                <li><a href='game.html' class="current"><button>Quiz</button></a></li>
                
            </ul>
            
        </nav>
        
        <div class ="quiz">
            <div class ='quizbox'>
                <div class ='welcome'>
                    <h1>Take a quiz on financial literacy!</h1>
                    <img src='../images/blackarrowdown.png'>
                </div>
                <div class ='actual-quiz'>
                    <h2 id ='questions'>Question in here</h2>
                    <div id ='answerbuttons'>
                        <button class ='btn'>Answer 1</button>
                        <button class ='btn'>Answer 2</button>
                        <button class ='btn'>Answer 3</button>
                        <button class ='btn'>Answer 4</button>
                    </div>
                    <button id='next-btn'>Next</button>
                </div>
            </div>
        </div>
        <div class ='subway'>
            <img src='../images/subway_vertical.gif'>

        </div>
        <div class ='minecraft'>
            <img src='../images/minecraft.gif'>
        </div>
    <script src ='../javascript/gamescript.js'></script>
    </body>
</html>

