<!DOCTYPE html>
<html>
    <head>
        <meta charset ='utf 8'>
        <title>moneymaxxing</title>
        <link rel='stylesheet' href ='../static/indexstyle.css'>
    </head>

    <body>
        <nav>
            <!--center a bunch of text then have an image in the middle of them and the text navigates you to the different pages and shit-->
        
            <div class ='logo'>logo</div>
            <ul>
                <li><a>Expenses</a></li>
                <li><a>Budgeting</a></li>
                <li><a href="insurance/insure.html">Insurance</a></li>
                <li><a>Useful Links</a></li>
                <li><a>Game</a></li>
                <li><button>Log out</button></li>
            </ul>
            
        </nav>
        <!--HOMEPAGE GETS YOU A GAME AND AT THE BOTTOM OF THE IMAGE HAS AN ARROW INDICATING TO SCROLL-->
        <div class="homepage game">
            <h1>Learn to manage your money</h1>
            <audio src="../audio/symphony_clip.mp3" autoplay></audio>
            <p>We here at Moneymaxxing Inc. want to help <strong>YOU</strong>
                  regarding your finances. <br>Learn all about financial literacy on our site and through 
                  our <a>game</a></p>
            <img src='../images/downarrow.png'>


        </div>
        <!--THREE BOXES EXPENSES AND BUDGETING NEXT TO ONE ANOTHER AND INSURANCE BELOW WHEN RESIZED THEY ALL COME INTO ONE ROW-->
        <div class ='firstblock block'>
            <div class = 'expenses'>
                
                <div class='expensetext'>
                    <h1>
                        Expenses
                    </h1>
                    <p>
                        Track your spending and gain valuable insights into your habits
                    </p>
                    
                </div>

            </div>
            <div class ='budgeting'>
                <div class ='budgettext'>
                    <h1>
                        Budgeting
                    </h1>
                    <p>
                        Plan out budgets to prevent overspending
                    </p>
                </div>

            </div>
        </div>
        <div class ='secondblock block'>
            <div class ='insurance'>
                <div class='insurancetext'>
                    <h1>
                        Insurance
                    </h1>
                    <p>
                        Pay out of your pocket to let companies pay out of their pockets
                    </p>
                </div>
            </div>

        </div>
        <div class='thirdblock block'>
            <div class='games'>
                <div class='gamestext'>
                    <h1>Game</h1>
                    <p>Gain financial knowledge and literacy through our interactive game</p>
                </div>
            </div>
        </div>
        <!--FOOTER IS THE LIBRARY (USEFYL LINKS)-->
        
        <footer>
            <div class="footer-container">
                <h3>Useful Resources</h3>
                <ul>
                    <li><a href="https://www.moneysense.gov.sg" target="_blank">MoneySense - Financial Education</a></li>
                    <li><a href="https://ifl.org.sg/modules/money-management-for-youths-abw" target="_blank">Institute for Financial Literacy - Youth Workshops</a></li>
                    <li><a href="https://www.youthopia.sg//financial-literacy" target="_blank">Youthopia - Financial Literacy for Teens</a></li>
                    <li><a href="https://www.posb.com.sg/teach-your-child-money-matters" target="_blank">POSB - Teach Your Child Money Matters</a></li>
                </ul>
            </div>
        </footer>
        
    </body>
</html>
